div#header{
  background-color: rgba(255,255,255,0.8);
  height:117px;
  border-bottom:3px solid black;
}

div#bg-tint{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(255,90,17,.2);
  z-index:-10;
}

form#login-form{
  margin-top:25px;
}

.pg-input{
  background-color:rgba(255,255,255,0.8);
  border:none;
  border-radius:0px;
  border-bottom:1px solid black;
  color:black;
  box-shadow:initial;
}

.pg-input:FOCUS{
  border-bottom:1px solid black;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,254,254,0.6);
}

.pg-btn{
  background-image:none;
  color: black;
  text-shadow:none;
  border:none;
  border-bottom:1px solid black;
  border-radius:0px;
  background-color:transparent;
}

.pg-btn:HOVER{
  background-color:white;
  color:black;
}

.pg-btn:ACTIVE{
  background-color:white;
  color:black;
  box-shadow:none;
}

.pg-btn:FOCUS{
  color:black;
  background-color:transparent;
  box-shadow:none;
}

.pg-btn-alt{
  background-image:none;
  color: white;
  text-shadow:none;
  border:none;
  border-bottom:1px solid white;
  border-radius:0px;
  background-color:transparent;
}

.pg-btn-alt:HOVER{
  background-color: black;
  color:white;
}

.pg-btn-alt:ACTIVE{
  background-color:black;
  color: white;
  box-shadow:none;
}

.pg-btn-alt:FOCUS{
  color: white;
  background-color:transparent;
  box-shadow:none;
}

img#pg-logo{
  margin-top:5px;
}

div#login-card{
  margin-top: 30px;
}

div#pg-slideshow{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-image:url(../../static/img/bg_images/pg-wallpaper-1.jpg);
  background-size:cover;
  z-index:-50;
}

body{
  font-family:'Baumans';
}

div#title-bar{
  color:white;
  background-color:rgba(0,0,0,.8);
  border-top:2px solid white;
  border-right:2px solid white;
  border-bottom:2px solid white;
  padding:20px;
}

#logo-container{
  position:absolute;
  top:78px;
  z-index:-20;
}

div#register-card{
  background-color: rgba(0,0,0,0.8);
  border: 2px solid white;
  padding: 20px;
}

#login-card-ss-container{
  margin-top:15%;
  height:inherit;
  padding:25px;
  background-color: rgba(255,255,255,0.7);
  border: 3px solid black;
  text-align:center;
}

#login-card-logo{
  display:block;
  margin-top:-60px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:15px;
  max-width: 200px;
}

div.pg-group-addon{
  border-radius:0px;
  color:white;
  background-color:black;
  border:none;
}

#pg-bg-stripe{
  position:absolute;
  left:0px;
  top:100px;
  width:100%;
  height:250px;
  background-image: url('../../static/img/bg_images/pg-wallpaper-1.jpg');
  background-size: cover;
  background-color: white;
  border-top: 1px solid black;
  border-bottom:1px solid black;
}

a.pg-link{
  color: black;
  text-decoration:underline;
}

a.pg-link-alt{
  color: white;
  text-decoration:underline;
}

.text-white{
	color:white;
}

#error-box {
	color: white;
	background-color: black;
	padding: 10px;
	border-bottom: 2px solid white;
}

#profile-header {
	height: 30px;
	background-color: white;
	border-bottom: 2px solid rgb(255,90,17);
	-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

#profile-circle {
	position: absolute;
	left: calc(50% - 100px);
	top: 15%;
	z-index: 50;
	border-radius: 100px;
	max-width: 200px;
	max-height: 200px;
	background-color: black;
	border: 3px solid rgb(255,90,17);
}

#profile-container {
	background-color: white;
	width: 90%;
	margin-left: 5%;
	margin-top: 10%;
	border-top: 2px solid rgb(255,90,17);
	min-height: 100px;
	height: inherit;
	-webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
}

#pg-bg{
	background-color: #e4e4e4;
}