<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Ground Profile</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baumans">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/custombox.min.css">
</head>
<body id="pg-bg">
	<div class="container-fluid">
		<div class="row">
			<div id="profile-header" class="col-md-12"></div>
			<img id="" src="../static/img/profile.jpg" class="img-responsive"/>
			<div id="profile-container" class="col-md-12"></div>
		</div>
	</div>
</body>
</html>