<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user['username']|capitalize}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baumans">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/fonts/material-icons.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/css/hover.css">
    <link rel="stylesheet" href="../static/css/pushy.css">
</head>

<body>
	<div id="wrapper">
	<!-- MENU START -->
	<nav class="pushy pushy-left">
		<h2>
	       	<img id="pushy-profile" src="{{about['profilephoto']|safe}}" class="img-responsive"/>
		</h2>
		<h2 class="text-center">{{user['username']|capitalize}}</h2>
	    <ul>
	        <!-- Submenu -->
	        <li class="pushy-submenu">
	            <a href="#"><span class="glyphicon glyphicon-star pushy-icon"></span>Favorites</a>
	            <ul>
	                <li class="pushy-link"><a href="#">Item 1</a></li>
	                <li class="pushy-link"><a href="#">Item 2</a></li>
	                <li class="pushy-link"><a href="#">Item 3</a></li>
	            </ul>
	        </li>
	        <li class="pushy-link"><a href="/user_profile/{{user['id']}}"><span class="glyphicon glyphicon-user pushy-icon"></span>Profile</a></li>
	        <li class="pushy-link"><a href="/feed"><span class="glyphicon glyphicon-menu-hamburger pushy-icon"></span>Stream</a></li>
	        <li class="pushy-link"><a href="#"><span class="glyphicon glyphicon-user pushy-icon"></span>Friends</a></li>
	        <li class="pushy-link"><a href="#"><span class="glyphicon glyphicon-tower pushy-icon"></span>Games</a></li>
	        <li class="pushy-link"><a href="#"><span class="glyphicon glyphicon-film pushy-icon"></span>Media</a></li>
	        <li class="pushy-link"><a href="#"><span class="glyphicon glyphicon-stats pushy-icon"></span>Statistics</a></li>
	        <li class="pushy-submenu">
	            <a href="#"><span class="glyphicon glyphicon-star pushy-icon"></span>Clans</a>
	            <ul>
	                <li class="pushy-link"><a href="#">Create New Group</a></li>
	                <li class="pushy-link"><a href="#">GTV Squad</a></li>
	                <li class="pushy-link"><a href="#">Item 3</a></li>
	            </ul>
	        </li>
	    </ul>
	</nav>
	<div class="site-overlay"></div>
    <div id="container" class="container-fluid">
        <div id="sticky-bg"></div>
        <div id="sticky-menu">
            <div class="row">
                <div class="col-md-1 sticky-menu-btn hvr-shadow-radial menu-btn" id="nav-btn"><i class="material-icons">menu</i></div>
                <div class="col-md-1 col-md-offset-1"><img class="img-responsive" src="../static/img/PlayGroundLogo.png" id="menu-logo"></div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search PlayGround...">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button"> <i class="icon ion-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 hvr-shadow-radial" id="profile-btn">
 			        	<a href="/user_profile/{{user['id']}}"><img id="menu-profile-picture" src="{{about['profilephoto']|safe}}"/><span>Papa2k15</span></a>
                </div>
                <div class="col-md-1 col-md-offset-1 sticky-menu-btn hvr-shadow-radial" id="settings-btn"><i class="material-icons">keyboard_arrow_down</i></div>
            </div>
            <div id="settings-container">
            	<ul>
            		<li><a><i class="material-icons">format_paint</i>Customize</a></li>
            		<li><a href="/update_profile/{{user['id']}}"><i class="material-icons">edit</i>Update Profile</a></li>
            		<li><a><i class="material-icons">settings</i>Account Settings</a></li>
            		<li><a href="/logout"><i class="material-icons">power</i>Log Out</a></li>
            		<li><a><i class="material-icons">help</i>Help</a></li>
            		<li><a><i class="material-icons">flag</i>Report an Issue</a></li>
            	</ul>
            </div>
        </div>
	<!-- MENU END -->
	<!-- CONTENT START -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="profile-header">
	        	<img id="profile-picture" src="{{about['profilephoto']|safe}}" class="img-responsive"/>
                <h3 class="text-center">{{user['username']|capitalize}}</h3>
                <h5 class="text-center">Member Since: {{user['membersince']|date_calc}}</h5></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-2 menu-item" id="fed-btn"><i class="material-icons">rss_feed</i>
                <h5>Posts </h5></div>
            <div class="col-md-1 menu-item menu-active" id="abt-btn"><i class="material-icons">info</i>
                <h5>About </h5></div>
            <div class="col-md-1 menu-item" id="gme-btn"><i class="material-icons">gamepad</i>
                <h5>Games </h5></div>
            <div class="col-md-1 menu-item" id="mda-btn"><i class="material-icons">perm_media</i>
                <h5>Media </h5></div>
            <div class="col-md-1 menu-item" id="awd-btn"><i class="material-icons">grade</i>
                <h5>Awards </h5></div>
            <div class="col-md-1 menu-item" id="sts-btn"><i class="material-icons">insert_chart</i>
                <h5>Stats </h5></div>
            <div class="col-md-1 menu-item" id="frd-btn"><i class="material-icons">group</i>
                <h5>Friends </h5></div>
            <div class="col-md-1 menu-item" id="ctm-btn"><i class="material-icons">format_paint</i>
                <h5>Customize </h5></div>
        </div>
        <div class="row menu-panel" id="fed-panel">
    	</div>
        <div class="row menu-panel active-panel" id="abt-panel">
            <div class="col-md-2 col-md-offset-2">
                <div>
                    <h4>Bio </h4>
                    <p>{{about['biography']}} </p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h4>Personal </h4>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td> <i class="fa fa-user"></i></td>
                                    <td>{{user['firstname']|capitalize}} {{user['lastname']|capitalize}}</td>
                                </tr>
                                <tr>
                                    <td> <i class="fa fa-birthday-cake"></i></td>
                                    <td>{{user['dateofbirth']|date_calc}} {{user['dateofbirth']|age_calc}}</td>
                                </tr>
                                <tr>
                                    <td> <i class="fa fa-gamepad"></i></td>
                                    <td>Xbox One</td>
                                </tr>
                                <tr>
                                    <td> <i class="icon ion-ios-game-controller-b-outline"></i></td>
                                    <td>First Person</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h4>Latest Status </h4>
                    <p>IM FEELING GOOD</p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <h4>Gamer Tags</h4>
                    <div class="panel-group" role="tablist" aria-multiselectable="true" id="gamer-tags">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab"><i class="icon ion-xbox"></i>
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#gamer-tags" aria-expanded="true" href="#gamer-tags .item-1">Xbox Live</a></h4></div>
                            <div class="panel-collapse collapse in item-1" role="tabpanel">
                                <div class="panel-body"><span>{{about['xbxgt']|capitalize}}</span></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab"><i class="icon ion-playstation"></i>
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#gamer-tags" aria-expanded="false" href="#gamer-tags .item-2">Playstation Plus</a></h4></div>
                            <div class="panel-collapse collapse item-2" role="tabpanel">
                                <div class="panel-body"><span>{{about['plsgt']|capitalize}}</span></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab"><i class="icon ion-steam"></i>
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#gamer-tags" aria-expanded="false" href="#gamer-tags .item-3">Steam </a></h4></div>
                            <div class="panel-collapse collapse item-3" role="tabpanel">
                                <div class="panel-body"><span>{{about['stmgt']|capitalize}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   		<div class="row menu-panel" id="gme-panel">
    	</div> 
    	<div class="row menu-panel" id="mda-panel">
    	</div>
    	<div class="row menu-panel" id="awd-panel">
    	</div>
    	<div class="row menu-panel" id="sts-panel">
    	</div>
    	<div class="row menu-panel" id="frd-panel">
    	</div>	
    </div>
	<!-- CONTENT END -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/pushy.min.js"></script>
    <script src="../static/js/profile_scripts/profile-menu.js"></script>
    <script src="../static/js/global_scripts/sticky_menu.js"></script>
    <script>
    $(document).ready(function(){
    	$('#profile-header').css('background-image','url(../../static/img/{{about["coverphoto"]|safe}})');
    });
    </script>
    </div>
</body>
</html>